body{
  background-color: white;
}

#header{
  text-decoration: none;
  height: 20px;
  width: 100%;
  display: flexbox;
}

#footer{ 
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flexbox;
}

#button{
  position: fixed;
  bottom: 15%;
  right: 5%;
}

#addTask{
  position: static;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}